/* Navbar Container */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px;
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: background 0.4s ease-in-out, transform 0.3s ease-in-out;
  z-index: 1000;
  transform: translateY(0);
}

.dark .navbar {
  background: linear-gradient(135deg, #333, #555);
  color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

/* Logo */
.logo {
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
  font-family: "Doto";
}
.dark .logo {
  color: #fff;
}
.logo:hover {
  transform: scale(1.1);
}

/* Nav Links */
.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  align-items: center;
  transition: transform 0.3s ease;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  padding: 8px 10px;
  transition: color 0.3s ease-in-out, transform 0.3s ease;
}

.nav-links li a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: #f1542d;
  transition: width 0.3s ease, left 0.3s ease;
}

.nav-links li a:hover::after {
  width: 100%;
  left: 0;
}

.nav-links li a:hover {
  color: #ff7e5f;
  transform: translateY(-5px);
  background-color: #ffffff62;
  border-radius: 5px;
}

/* Theme Toggle */
.theme-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  transition: background 0.3s ease;
}

.theme-toggle:hover {
  background: rgba(255, 255, 255, 0.5);
}

.theme-toggle .icon {
  width: 24px;
  height: 24px;
  fill: #fff;
  transition: transform 0.3s ease;
}

.theme-toggle:hover .icon {
  transform: rotate(180deg);
}

/* Navbar Scroll Animation */
.navbar-scrolled {
  background: linear-gradient(135deg, #8e44ad, #2980b9);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.user-profile{
  border-radius: 50%;
  background-color: #ffffff;
  width: 30px;
  aspect-ratio: 1;
  color:#ff6f61 ;
  cursor: pointer;
  margin-right: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    padding: 15px 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    gap: 15px;
  }

  .theme-toggle {
    position: absolute;
    top: 15px;
    right: 20px;
  }
}
